OPENAI_API_KEY=sk-this-key-is-just-a-placeholder
LANGCHAIN_API_KEY=sk-this-key-is-just-a-placeholder
LANGCHAIN_PROJECT=TestGenie

BASE_URL=
BLA_LLM_MODEL=
TG_LLM_MODEL=

EMBED_MODEL=

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=